.left-bar{
    -fx-background-color:#548192;
}
.background{
    -fx-background-color:#D3D3D3;
}
.blanc{
    -fx-background-color:white;
}

.button{
    background: #548192;
    border-radius: 999px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
}
.bt{
    -fx-background-color:#548192;
    -fx-border-width: 999px;
}